
body{height:100%;}
button{border:0; outline:0;}
.container{
  height:100%;
  background: url("../images/gameAbout/indexBg.jpg") no-repeat scroll 0 0;
  background-size:100% 100%;
}
.ruleBtn{
  display:block;
  background: url("../images/gameAbout/ruleBtn.png") no-repeat scroll 0 0;
  background-size:100%;
  width:2.6rem;
  height:1.1rem;
  position:relative;
  left:7rem;top:.5rem;
}
.login{
  width:100%;
  position:absolute;
  bottom:.5rem;
}
.login{
  display:none;
  a{
    background: url("../images/gameAbout/login.png") no-repeat scroll 0 0;
    background-size:100%;
    width:7rem;
    height:1rem;
    display: block;
    margin:0 auto;
  }
}

.btns{
  position: absolute;
  bottom: 2rem;
  width: 100%;}
.btns button{
  display: block;
  margin:0 auto;
  width:6rem;
  height:1.5rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
}
.start{
  background-image:url("../images/gameAbout/start.png");
}
.rank{
  background-image:url("../images/gameAbout/rank.png");
}
.help{
  background-image:url("../images/gameAbout/help.png");
}
.me .help{
  display:none;
}
.friend .start{display:none;}
.friend .rank{display:none;}
.friend .help{margin-top:1rem;}
.friend .login{display:none;}

.pop{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  bottom:0;
  background: url("../images/gameAbout/popBg.jpg") no-repeat scroll 0 0;
  background-size:100% 100%;
  .content{
    position: relative;
    top: 4.2rem;
    min-height:4rem;
    width:8rem;
    padding:.2rem;
    display:block;
    margin:0 auto;
    border-radius:1.4rem;
    background-color: #FDAA02;
    background: -webkit-gradient(linear, left top, left bottom, from(#FCBF04), to(#FC9401));
    background-image: -webkit-linear-gradient(to bottom, #FCBF04 0%, #FC9401 100%);
    background-image: linear-gradient(to bottom, #FCBF04 0%, #FC9401 100%);
    border: 1px solid #DF8200;
    box-shadow: 1px 1px 2px #797979;
  }
  .title{
    width:4.5rem;
    height:1.4rem;
    background: transparent url("../images/gameAbout/title.png") no-repeat scroll 0 0;
    background-size:100%;
    position: absolute;
    top: -0.6rem;
    left:2rem;
    text-align: center;
    color: #f3e7ce;
    font-size: .55rem;
    line-height: 1.2rem;
  }
  .inner{
    box-shadow: 0 0 3px #828080;
    min-height:4rem;
    border-radius:1.1rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#FBDB8E), to(#F8E5AC));
    background-image: -webkit-linear-gradient(to bottom, #FBDB8E 0%, #F8E5AC 100%);
    background-image: linear-gradient(to bottom, #FBDB8E 0%, #F8E5AC 100%);
    padding: .5rem;
  }
  .close{
    position:absolute;
    right:0;
    top:-1.2rem;
    background: transparent url("../images/gameAbout/close.png") no-repeat scroll 0 0;
    background-size:100%;
    width:1rem;
    height:1rem;
  }
}

.pop{
  display: none;

  .ruleContent{
    display: none;
    font-size: .4rem;
    color: #39230B;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;

    li{
      margin-top:.3rem;    line-height: .5rem;
    }
  }
  p{
    text-align: center;
    margin-top: .5rem;
    line-height: 1rem;
    font-weight: bold;
    color: #000;
    text-shadow: 1px 1px 7px #fff;
  }
  .description{
    display: none;
    margin-top:1rem;
    img{
      display: block;
    }
    a{
      display:block;
      width:4rem;
      height:1.4rem;
      margin:0 auto;
      margin-top:.5rem;
      background:transparent url("../images/gameAbout/start2.png") no-repeat scroll;
      background-size:100%;
    }
  }
}

.myRank{
  font-size:.4rem;
  p{
    line-height:1rem;
    margin:0;
  }
  .total{
    font-size:.6rem;
    color:#449143
  }
  .order{
    font-size:.6rem;
    color: #FE9B00;
  }
  a.who{
    display: block;
    text-align: center;
    color:#429142;
    text-decoration: underline;
  }

  a.fengyun{
    display:block;
    width: 5rem;
    height: 1.2rem;
    margin: 0 auto;
    margin-top: .5rem;
    background:url("../images/gameAbout/fengyun.png") no-repeat scroll 0 0;
    background-size:100% auto;
  }

  a.hero{
    display:block;
    width: 5rem;
    height: 1.2rem;
    margin: 0 auto;
    background:url("../images/gameAbout/hero.png") no-repeat scroll 0 0;
    background-size:100% auto;
  }

  .btn{
    display:inline-block;
    width:4rem;
    height:1.2rem;
    position: relative;
    top:3rem;
  }
  .month{
    background:url("../images/gameAbout/month.png") no-repeat scroll 0 0;
    background-size:100% 100%;
    margin:0 0.6rem;

  }
  .share{
    background:url("../images/gameAbout/share.png") no-repeat scroll 0 0;
    background-size:100% 100%;
  }
}

.twoCode{
  display:none;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  bottom:0;
  img{
    display: block;
    margin:0 auto;
    position:relative;
    top:3rem;
  }
}
.sharePop{
  display:none;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  bottom:0;
}
