*{box-sizing: border-box;}
img{
  display:block;
}
input{
  border:0;
  outline:0;
  padding:0;
  margin:0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

body{
  background-color:#FCE1AC ;
  position:relative;
}
.mainContent{
  background-color: #FDEDCC;
}

#top{
  img{
    background: #D4D4D4;
    background-image: url("../images/public/default.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
  }
  div{
    background:#D4D4D4 url('../images/inviteShip/ship_04.jpg') no-repeat scroll 0 0;
    background-size:100% 100%;
    padding-bottom:.8rem;

    p{
      padding: .4rem .6rem 0 .6rem;
      font-size: .4rem;
      line-height:.65rem;
      span{
        display:block;
        margin-top:.2rem;
      }

      i{
        color:#C11F1D;
      }
    }
  }
}
#middle{
  margin-top:.5rem;
  img{
    margin:0 auto;
  }

  p{
    margin-top:.2rem;
    text-align:center;
    span{
      font-size: .4rem;
      color:#343138;
      display:inline-block;
      border-bottom:1px solid #343138;
    }
  }
}

#bottom{
  margin-top:.5rem;
  #listWrap{
    border-top:1px solid #FEEECC;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding-top:1.5rem;
    padding-bottom: 1rem;
    background:#FCE1AC url('../images/inviteShip/top-circle.jpg') no-repeat scroll 0 0;
    -webkit-background-size: contain;
    background-size: contain;


    dl{
      display:table;
      width: 90%;
      margin: 0 auto;
      dt{
        display: table-cell;
        width: 60%;
        text-align: center;
        color:#7A451B;
        font-size:.4rem;
        &:first-child{
          width:40%;
          font-weight: bold;
        }

        i{
          color:#C61B23;
          font-size:.5rem;
        }
        .check{
          span{
            border-bottom:1px solid #7A451B;
          }
        }
      }
    }

    ul{
      width:90%;
      margin:.5rem auto;
      margin-bottom: 0;
      border-top: 1px solid #C1A16E;
      li{
        display:table;
        width: 100%;
        border-bottom:1px dotted #B1833B;

        span{
          display: table-cell;
          width:33.3%;
          color: #3F413E;
          text-align:center;
          font-size:.3rem;
          line-height:1rem;
          &.warn{
            color:#7A451B;
          }

          &:nth-child(1){width:35%;}
          &:nth-child(2){width:35%;}
          &:nth-child(3){width:30%;}

        }
      }
    }
  }
}

.pop{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);

  .main{
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    border-radius: .2rem;
    padding: .6rem;
    position:relative;

    h2{
      text-align:center;
      font-size:.5rem;
      margin-bottom:.4rem;
    }
    .exit{
      position:absolute;
      top:.2rem;
      right:.2rem;
      font-size:.8rem;
      font-weight: normal;
      color: #666;
    }
  }
}

#shipNum{
  .main{
    padding:1rem;
    input{
      font-size:.45rem;
      text-indent:.45rem;
      width:100%;
      height:1.2rem;
      background-color:#F2F2F2;
      border-radius:0.2rem;
      border: 1px solid #d3d3d3;
    }
    p{
      white-space: nowrap;
      font-size:.36rem;
      line-height:.8rem;
      text-align: justify;
      span{
        color:#D01425;
      }
    }
    .confirm{
      margin:0 auto;
      width:60%;
      height:1rem;
      line-height:1rem;
      background-color:#EA3232;
      border-radius:.15rem;
      color:#fff;
      text-align:center;
      font-size:.5rem;
      position:relative;
      top:.3rem;
    }
  }
}

#rulePop{
  ul{

    li{
      font-size:.4rem;
      line-height:.6rem;
      margin-bottom:.2rem;
      color:#323232;
      text-align:justify;
    }
    span{
      font-size:.3rem;
      color:#666;
    }
  }

  p{
    margin-left:-12%;
    font-size:.4rem;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    text-align: center;
    white-space: nowrap;
    margin-top: .6rem;
  }
}

footer{
  color:#7A451B;
  padding: 1rem 0 .5rem 0;
  background-color: #FDEDCC;

  &.hasListBgColor{
    padding-top:0;
    background-color:#FCE1AC;
  }
  p{
    text-align:center;
    white-space:nowrap;
    @media screen and (max-width:320px){
      -webkit-transform:scale(0.8);
      transform:scale(0.8);
    }
  }

}