<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>疯狂大砍价</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="stylesheet" href="stylesheets/public.css">
    <link rel="stylesheet" href="stylesheets/swiper.3.1.2.min.css">
    <link rel="stylesheet" href="stylesheets/bargain.css?v=2">
    <script src="javascripts/plugin/flexible_css.js,flexible.js"></script>
</head>
<body v-cloak id="main" class="main index" style="height:100%;">
    <div id="container" class="container" style="height: 88%;overflow:scroll;-webkit-overflow-scrolling:touch">
        <header>
            <img src="images/wx-bargain/top.jpg" width="100%">
            <!--<div class="ribbon">2016.12.01-2016.12.31</div>-->
            <span class="btn-rule" v-touch:tap="showPopRule=true">活动规则</span>
        </header>
        <main>
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"
                         :class="{sellout:item.state==3}"
                         v-for="item in list">
                        <img :src="item.big_pic" @error="item.big_pic = ''">
                        <div class="intro">
                            <p class="name">{{item.bargain_name}}</p>
                            <div class="price">
                                <div class="original"><i class="rmb">¥</i>{{item.refer_price}}</div>
                                <div class="mini">最低可砍至<span><i class="rmb"> ¥</i>{{item.bargain_price}}</span></div>
                            </div>
                            <span class="radio"
                                  :class="{active:item.is_select}"
                                  v-touch:tap="selectGoods($index)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div class="btn-wrap" style="height: 12%;">
        <span v-if="hadGoodsBargaining" class="btn btn-check" v-touch:tap="goToGoodsDetail"></span>
        <span v-else class="btn btn-launch" v-touch:tap="launchBargain"></span>
    </div>

    <div v-show="showPopSelect" class="pop select" v-touch:tap="closePop($event,'showPopSelect')"><!--add 2016/12/6-->
        <div class="content">
            <p>请勾选一款中意的商品进行砍价</p>
            <img src="images/wx-bargain/pop-select.jpg">

            <span class="close" v-touch:tap="closePop('showPopSelect')">×</span>
        </div>
    </div>

    <div class="pop QRcode" v-show="showPopQRcode" v-touch:tap="closePop($event,'showPopQRcode')"><!--add 2016/12/6-->
        <div class="content">
            <p class="f-red">您还未关注长江汇服务号<br>关注后方可参与砍价活动</p>
            <img src="images/wx-bargain/pop-qrcode.jpg">
            <p class="f-36">长按即可识别二维码</p>

            <span class="close" v-touch:tap="closePop('showPopQRcode')">×</span>
        </div>
    </div>

    <div class="pop rule" v-show="showPopRule" v-touch:tap="closePop($event,'showPopRule')"> <!--add 2016/12/6-->
        <div class="content">
            <p class="f-red">活动规则</p>
            <div class="wrap">
                <div class="detail">
                    <h3 class="title">砍价机制：</h3>
                    <ul>
                        <li>1.砍价商品限时限量，砍价至0元才算砍价成功，先砍价成功者先得；</li>
                        <li>2.每位用户对每款商品最多发起1次砍价，不能重复。</li>
                        <li>3.不同商品不能同时发起砍价，进行中的砍价商品只能为1个。</li>
                        <li>4.助力砍价，每人每天限砍3次，砍价者不能为同一人的同一商品重复砍价。</li>
                        <li>5.砍价进行中，如所选商品已被其他挑战者砍价成功，该商品砍价失败，砍价参与者可挑选下一个心仪商品进行再次砍价。</li>
                    </ul>
                    <h3 class="title">活动细则：</h3>
                    <ul>
                        <li>1.活动参赛者必须内河船友，如经工作人员核查发现砍价成功者非船友，我们将取消其兑奖资格。</li>
                        <li>2.奖品遵循1人1手机1账号1奖项规则。如工作人员核查发现，中奖船友同时用了多个微信号参与砍价并且砍价成功，一经发现以砍价成功价值最低的商品为准。</li>
                        <li>3.活动结束后的3个工作日内，工作人员将主动与砍价成功的用户电话联系确认，确认成功后，中奖船友需在规定的日期内凭借本人中奖电话号码，本人身份证、及有效船舶证书到长江汇VIP体验店兑奖，逾期作废。</li>
                        <li>4.本活动以诚信为本，一旦发现不正当恶意砍价，扰乱正常秩序行为，主办方有权取消其活动资格。</li>
                        <li>5.本活动最终解释权给归长江汇所有。</li>
                    </ul>
                </div>
            </div>
            <span class="close" v-touch:tap="closePop('showPopRule')">×</span>
        </div>
    </div>
</body>
<script src="javascripts/plugin/swiper-3.4.0.min.js"></script>
<script src="javascripts/plugin/hammer.min.js"></script>
<script src="javascripts/plugin/vue.js"></script>
<script src="javascripts/plugin/vue-touch.min.js"></script>
<script src="javascripts/plugin/zepto.min.js"></script>
<script>
    var vm,
        goodsList=[
        {
            "big_pic": "http://oss.njcjh.cn/20160320/0a4839e601ca48a6bcb397cd3d11e9bd.jpg",
            "bargain_case_id": 1,
            "bargain_name": "商品名称1商品名称1商品名称1",   //商品名称
            "bargain_price": 12, //商品最低价格
            "state": 3,     //商品状态 0=下线 1=上线  2=删除 3=已抢光
            "refer_price": 8.5,  //商品原价
            "is_select":0        //是否选中
        },
        {
            "big_pic": "http://oss.njcjh.cn/20160318/c83e405350b94e229d365bcba6096a2f.jpg",
            "bargain_case_id": 1,
            "bargain_name": "商品名称2商品名称2商品名称2",
            "bargain_price": 12,
            "state": 0,
            "refer_price": 8.5,
            "is_select":0
        }
    ];

    $(function(){
        vm = new Vue({
            el:'#main',
            data:{
                list:goodsList,
                hadGoodsBargaining:false,  //是否有正在进行砍价的商品，有则显示“查看我发起的砍价”按钮
                canLaunchBargain:false,    //是否可以发起砍价（防止按钮多次点击）
                showPopRule:false,
                showPopSelect:false,
                showPopQRcode:false
            },
            created:function(){
                //判断显示按钮类别
                for(var i=0; i<this.list.length; i++){
                    if(this.list[i].is_select){
                        this.canLaunchBargain = false; //已经有砍价商品则不可以发起砍价
                        this.hadGoodsBargaining = true;
                    }
                }

                //没有正在进行砍价的商品
                if(!this.hadGoodsBargaining){
                    this.canLaunchBargain = true;
                }
            },
            ready: function(){
                console.log(this.list.length);
                initialSlide = this.list.length>=2 ? 1 :0;

                //实例化 Swiper
                Vue.nextTick(function(){
                    new Swiper('.swiper-container', {
                        /*pagination: '.swiper-pagination',*/
                        initialSlide :initialSlide,
                        effect: 'coverflow',
                        grabCursor: true,
                        centeredSlides: true,
                        slidesPerView: 'auto',
                        coverflow: {
                            rotate: 50,
                            stretch: 0,
                            depth: 100,
                            modifier: 1,
                            slideShadows : true
                        }
                    });
                },1000)
            },
            methods: {
                //发起砍价
                launchBargain:function(){
                    //不能发起砍价,退出
                    if(!this.canLaunchBargain) return ;
                    //点击完按钮，禁止发起砍价，直到 ajax 请求返回且请求操作失败
                    this.canLaunchBargain = false;

                    var hadSelectedGoods=false, selectedGoodsId;
                    //当前是否选中商品
                    this.list.forEach(function(ele,index,self){
                        if(ele.is_select){
                            hadSelectedGoods = true;
                            selectedGoodsId  = ele.bargain_case_id;
                        }
                    });

                    if(hadSelectedGoods && selectedGoodsId){
                        console.log('请求接口，发起砍价');
                        $.ajax({
                            type: 'GET',
                            url: '/projects',
                            data: { id: selectedGoodsId },
                            dataType: 'json',
                            success: function(data){
                                data = JSON.parse(data);
                                if(data.code == '0000'){
                                    //成功选择商品进行砍价，不能再次进行砍价
                                    vm.canLaunchBargain = false;
                                }
                            },
                            error: function(xhr, type){
                                //选择商品失败，可以继续选择商品砍价
                                vm.canLaunchBargain = true;

                                //将之前选择的商品取消选中状态
                                vm.list.forEach(function(ele){
                                    ele.is_select = false;
                                });

                                alert('发起砍价失败，请稍后重试'); //add 2016/12/6
                            }
                        })
                    }else{
                        this.canLaunchBargain = true; //add 2016/12/6
                        this.showPopSelect = true;
                    }
                },
                //选择商品
                selectGoods:function(index){
                    if(!this.canLaunchBargain) return;

                    this.list.forEach(function(ele){
                        ele.is_select = false;
                    });

                    if(this.list[index].state != 3){
                        this.list[index].is_select = true;
                    }
                },
                //进入商品详情
                goToGoodsDetail:function(){
                    console.log('进入选中的商品详情')
                },
                closePop:function(propName){ //add 2016/12/6
                    if(arguments.length == 1){
                        this[propName] = false;
                    }else{
                        var e = arguments[0];
                        if(e.target.className.indexOf('pop') != -1){
                            this[arguments[1]] = false;
                        }
                    }
                }
            }
        });
    });

</script>
</html>