<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>亲子活动报名</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<script type="text/javascript">
    function setHtmlSize(){
        document.querySelector('html').style.fontSize = document.documentElement.clientWidth /10 +'px'
    }
    setHtmlSize();
    window.addEventListener('resize',setHtmlSize,false);
</script>
<link rel="stylesheet" href="stylesheets/public.css">
<link rel="stylesheet" href="stylesheets/wx-pc-apply.css">
    <link rel="stylesheet" href="stylesheets/pop.css">
</head>
<body v-cloak style="border-top:1px solid transparent;position: relative;">
<div class="mainContainer">
    <div class="mainContent" style="padding-bottom:3rem"><!--顺序改变-->
        <div class="title">填写资料</div>
        <input v-model="userName" v-on:blur="validName" type="text" class="common userName" placeholder="输入您姓名">
        <input v-model="phoneNum" v-on:blur="validPhone" type="tel" class="common phoneNum" placeholder="输入您的手机号码">
        <input v-model="shipName" v-on:blur="validShip" type="text" class="common shipName" placeholder="输入您的船号">
        <!--<input v-model="comment" v-on:input="validComment" type="text" class="common" placeholder="输入参赛宣言（20字内）">-->
        <div class="note">
            需上传1张大小不能超过<i>1MB</i>照片<!--改变-->
        </div>
        <div v-show="uploaded" class="showImg">
            <div class="imgWrap" style="/*background-image: url('images/kanqizhi/attention_03.jpg')*/"></div>
            <input @click="upload" :disabled="canUpload" type="button" class="uploadImg"><!--位置改变-->
        </div>
        <input @click="confirm" type="button" class="confirm">
    </div>
</div>

<div v-if="showShare" v-touch:tap="hideShare" class="share">
    <img src="images/wx-parentsChild/share.png" width="100%"><!--图片更改-->
</div>
<div id="sucess" class="pop">
    <div class="main" style="padding:0;">
        <div class="textWrap">
            <p class="tt">恭喜您，报名成功</p>
            <p style="font-size:.3rem;line-height: 1.6;">
                您提交的照片工作人员会在1-2个<br>
                工作日内进行审核，通过后会在<br>
                <i style="color:#FF515B">长江汇服务</i>通知您，请及时关注。
            </p>
        </div>
        <i class="exit">×</i>
    </div>
</div>
<div id="twoCode" class="pop">
    <div class="main" style="padding:0;">
        <div class="textWrap">
            <p style="color:#F9225B;">您还没有关注长江汇服务号，关注后即</p>
            <p style="color:#F9225B;">可参加活动咯</p>
            <img src="images/wx-parentsChild/twoDcode.jpg">
            <p>长按图片可识别二维码</p>
        </div>
        <i class="exit">×</i>
    </div>
</div>
<div id="note" class="pop" style="z-index: 999;">
    <div class="main" style="padding:0;">
        <div class="textWrap">
            <p class="tt"></p>
        </div>
        <i class="exit">×</i>
    </div>
</div>
</body>
<script src="javascripts/plugin/hammer.min.js"></script>
<script src="javascripts/plugin/vue.js"></script>
<script src="javascripts/plugin/vue-touch.min.js"></script>
<script src="javascripts/plugin/vue-resource.js"></script>
<script src="javascripts/plugin/zepto.js"></script>
<script src="javascripts/popup.js"></script>
<script>
    var applySuccess = new Popup({
        ancestor:'#sucess',
        main:'.main',
        exit:'.exit'
    });
    var note = new Popup({
        ancestor:'#note',
        main:'.main',
        txtWrap:'.tt',
        txt:'',
        exit:'.exit'
    });
    var twoCode = new Popup({
        ancestor:'#twoCode',
        main:'.main',
        exit:'.exit'
    });
    setTimeout(function(){twoCode.show()},1000);
    window.addEventListener('load', function(){
        var vm = new Vue({
            el:'body',
            data: {
                shipName:'',
                userName:'',
                phoneNum:'',
                comment:'',
                canUpload:true,
                canConfirm:true,
                showShare:false,
                uploaded:true //改变原来是false
            },
            methods: {
                upload: function () {
                    alert(1111);
                },
                confirm: function () {
                    console.log(this.userName);
                    console.log(this.phoneNum);
                    /*this.$http.get('http://www.xxxx.com/', {
                        name: this.userName,
                        phone: this.phoneNum
                    }).then(function(res){
                        console.log('请求成功');
                     }, function (res) {
                        console.log('请求失败');
                     });*/
                },
                validName: function(){
                    var re = /.{1,10}/;
                    if(re.test(re)){
                        this.uConfirm = true;
                    }else{
                        alert("萌宝姓名不能为空，不能超过10个字~");
                    }
                },
                validPhone: function () {
                    var re = /[1][345678]\d{9}/;

                    if(re.test(this.phoneNum)){
                        this.phoneNum = true;
                    }else{
                        alert("请输入正确的手机号");
                    }
                },
                validShip: function(){
                    var re = /^[\u4E00-\u9FA50-9]{2,15}$/;
                    var ship = this.shipName;

                    //超出15个，删除多余
                    if(ship.length>15){
                        console.log('超过15位');
                        this.shipName = ship.substring(0,15);
                    }
                    this.shipName = this.shipName.replace(/[^\u4E00-\u9FA50-9]/g, "");
                },
                validComment:function(){
                    if(this.comment.length>20){
                        console.log('超过20位');
                        this.comment = this.comment.substring(0,20);
                    }
                    this.comment = this.comment.replace(/\s+/g, '');
                },
                hideShare: function () {
                    this.showShare = false;
                }
            }
        });
    }, false);
</script>
</html>