@charset "UTF-8";
/* 字体 (参数$font-size，是效果图中的尺寸) */
/* 我们项目的视觉稿为750px */
/*$rem-baseline: 75px !default;*/
/* 我们项目的视觉稿为1080px*/
/*$rem-baseline: 108*1.15px !default;*/
/* rem */
/* line 3, ../sass/act-double11.scss */
body {
  color: #fff;
  font-size: 12px !important;
  line-height: 1.4;
  background: #5d0192;
}
/* line 7, ../sass/_convertUnit.scss */
[data-dpr="2"] body {
  font-size: 24px !important;
}
/* line 10, ../sass/_convertUnit.scss */
[data-dpr="3"] body {
  font-size: 36px !important;
}

/* line 10, ../sass/act-double11.scss */
header img {
  display: block;
}

/* line 15, ../sass/act-double11.scss */
.goodsList {
  padding: 0.27778rem;
  padding-top: 0;
  background: transparent url("../images/act-double11/top02.jpg") no-repeat scroll 0 0;
  background-size: 100%;
}
/* line 22, ../sass/act-double11.scss */
.item {
  padding-top: .3rem;
}
/* line 24, ../sass/act-double11.scss */
.item h2 {
  width: 4.7963rem;
  height: 1.1rem;
  background: transparent url("../images/act-double11/yhdd.jpg") no-repeat scroll 0 0;
  background-size: 100% 100%;
  margin: 0 auto;
  color: transparent;
  position: relative;
  top: .55rem;
}
/* line 35, ../sass/act-double11.scss */
.item.ndjx h2 {
  background-image: url("../images/act-double11/ndjx.jpg");
}
/* line 42, ../sass/act-double11.scss */
.item ul {
  padding: 1.24074rem 0 0.1rem 0;
  border: 1px solid #fdff2f;
  border-radius: .1rem;
  background-color: #5d0192;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 50, ../sass/act-double11.scss */
.item li {
  background-color: #fff;
  float: left;
  position: relative;
  width: 47.5%;
  padding-bottom: 0.15741rem;
  margin-bottom: .4rem;
}
/* line 57, ../sass/act-double11.scss */
.item li:nth-of-type(2n+1) {
  margin-right: 5%;
}
/* line 61, ../sass/act-double11.scss */
.item img {
  display: block;
  width: 100%;
  height: 3.36806rem;
  background: url(../images/public/default.jpg) no-repeat scroll 50% 50%;
  background-size: contain;
  background-color: #D4D4D4;
}
/* line 66, ../sass/act-double11.scss */
.item img.load {
  background: transparent;
}
/* line 76, ../sass/act-double11.scss */
.item .goodsName {
  color: #5d0192;
  font-size: 0.33333rem;
  margin-top: 0.23148rem;
  margin-bottom: 0.38889rem;
  line-height: .4rem;
  height: .4rem;
  overflow: hidden;
  padding: 0 .1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 88, ../sass/act-double11.scss */
.item .btn {
  width: 4.2963rem;
  height: 0.92593rem;
  line-height: 0.92593rem;
  margin: 0 auto;
  background: transparent url("../images/act-double11/btn.png") no-repeat scroll 0 0;
  background-size: 100%;
  font-size: .5rem;
  font-family: "microsoft yahei", 瀹嬩綋, sans-serif;
  color: #fdff2f;
  text-indent: .45rem;
}
/* line 99, ../sass/act-double11.scss */
.item .btn i {
  font-size: .3rem;
}
/* line 103, ../sass/act-double11.scss */
.item .discount {
  width: 1.25rem;
  height: 0.50926rem;
  line-height: 0.50926rem;
  background: transparent url("../images/act-double11/discount.png") no-repeat scroll 0 0;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: .15rem;
  font-size: 16px !important;
}
/* line 7, ../sass/_convertUnit.scss */
[data-dpr="2"] .item .discount {
  font-size: 32px !important;
}
/* line 10, ../sass/_convertUnit.scss */
[data-dpr="3"] .item .discount {
  font-size: 48px !important;
}
/* line 114, ../sass/act-double11.scss */
.item .discount i {
  font-size: 12px !important;
}
/* line 7, ../sass/_convertUnit.scss */
[data-dpr="2"] .item .discount i {
  font-size: 24px !important;
}
/* line 10, ../sass/_convertUnit.scss */
[data-dpr="3"] .item .discount i {
  font-size: 36px !important;
}
/* line 118, ../sass/act-double11.scss */
.item .discount span {
  font-weight: bold;
}

/* line 125, ../sass/act-double11.scss */
.rule {
  padding: 0.27778rem;
  position: relative;
}
/* line 128, ../sass/act-double11.scss */
.rule h3 {
  width: 4rem;
  margin: 0 auto;
  position: relative;
  top: .28rem;
  background-color: #5d0192;
}
/* line 134, ../sass/act-double11.scss */
.rule h3 span {
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 0.41667rem;
  line-height: 0.53704rem;
  text-align: center;
  background-image: url("../images/act-double11/rule-title.png"), url("../images/act-double11/rule-title.png");
  background-repeat: no-repeat, no-repeat;
  background-position: .3rem 0, 3.1rem 0;
  -webkit-background-size: auto 100%,auto 100%;
  background-size: auto 100%,auto 100%;
}
/* line 149, ../sass/act-double11.scss */
.rule ul {
  border: 1px solid #fdff2f;
  border-radius: .1rem;
  padding: 0.19444rem;
  padding-top: 0.61111rem;
  line-height: 1.7;
}

/*# sourceMappingURL=act-double11.css.map */
