/* line 2, ../sass/act-midAutumn.scss */
body {
  font: 12px/1.2 .36rem;
  color: #fff;
}

/* line 7, ../sass/act-midAutumn.scss */
header img {
  display: block;
}

/* line 9, ../sass/act-midAutumn.scss */
.ti {
  text-indent: .5rem;
}

/* line 12, ../sass/act-midAutumn.scss */
.org {
  color: #FFDB3C;
}

/* line 15, ../sass/act-midAutumn.scss */
.content {
  background: -webkit-gradient(linear, left top, left bottom, from(#2F2C7D), to(#01518e));
  background-image: -webkit-linear-gradient(to bottom, #2F2C7D 0%, #01518e 100%);
  background-image: linear-gradient(to bottom, #2F2C7D 0%, #01518e 100%);
  margin-top: -1px;
  padding: 0 .6rem;
  padding-bottom: 1.2rem;
}

/* line 23, ../sass/act-midAutumn.scss */
.title {
  background: url("../images/act-midAutumn/title1.png") no-repeat scroll 0 0;
  background-size: auto 100%;
  width: 4.5rem;
  padding: .35rem 0;
  margin: 0 auto;
  text-align: center;
}
/* line 30, ../sass/act-midAutumn.scss */
.title span {
  color: #FFDD3D;
  font-weight: bold;
  display: inline-block;
  padding: 0 .4rem;
  font-size: .55rem;
  line-height: .6rem;
  background: url("../images/act-midAutumn/title2.png") no-repeat scroll right top;
  background-size: auto 60%;
}

/* line 42, ../sass/act-midAutumn.scss */
.ss {
  color: #fff;
  font-size: .35rem;
  margin-top: .4rem;
}
/* line 46, ../sass/act-midAutumn.scss */
.ss span:nth-of-type(1) {
  font-weight: bold;
  display: inline-block;
  font-size: .4rem;
  text-indent: .5rem;
  background: url("../images/act-midAutumn/star.png") no-repeat scroll left 50%;
  background-size: auto 80%;
  margin-bottom: .4rem;
}

/* line 58, ../sass/act-midAutumn.scss */
.join img {
  display: block;
  margin: 0 auto;
  margin-top: .6rem;
}
/* line 64, ../sass/act-midAutumn.scss */
.join .intro {
  font-size: .36rem;
  line-height: .6rem;
  width: 8rem;
  text-indent: .72rem;
  padding-left: .2rem;
  margin: .8rem auto;
  text-align: justify;
}

/* line 75, ../sass/act-midAutumn.scss */
.setting {
  padding-top: 1.5rem;
  position: relative;
}
/* line 78, ../sass/act-midAutumn.scss */
.setting div {
  padding-left: .5rem;
  margin-bottom: .4rem;
}
/* line 82, ../sass/act-midAutumn.scss */
.setting p {
  font-size: .36rem;
  line-height: .5rem;
}
/* line 86, ../sass/act-midAutumn.scss */
.setting img {
  position: absolute;
  top: .4rem;
  right: .5rem;
  width: 30%;
}

/* line 94, ../sass/act-midAutumn.scss */
.mode {
  margin-top: .8rem;
}
/* line 96, ../sass/act-midAutumn.scss */
.mode li {
  padding-left: .5rem;
  font-size: .36rem;
  line-height: .5rem;
  margin-bottom: .2rem;
}
/* line 102, ../sass/act-midAutumn.scss */
.mode p {
  padding-left: .5rem;
  font-size: .36rem;
  line-height: .5rem;
}

/* line 109, ../sass/act-midAutumn.scss */
.rule {
  margin-top: 1rem;
}
/* line 111, ../sass/act-midAutumn.scss */
.rule ul {
  margin-top: .4rem;
}
/* line 114, ../sass/act-midAutumn.scss */
.rule li {
  padding: 0 .2rem;
  font-size: .36rem;
  line-height: .5rem;
  margin-bottom: .5rem;
  text-align: justify;
}

/* line 123, ../sass/act-midAutumn.scss */
.foot {
  background: url("../images/act-midAutumn/line.png") no-repeat scroll 0 50%;
  background-size: 18% auto;
  margin-top: 2rem;
}
/* line 127, ../sass/act-midAutumn.scss */
.foot p {
  text-align: center;
  font-size: .36rem;
  background: url("../images/act-midAutumn/line2.png") no-repeat scroll right 50%;
  background-size: 18% auto;
}

/*# sourceMappingURL=act-midAutumn.css.map */
