/* line 1, ../sass/invite-ship.scss */
* {
  box-sizing: border-box;
}

/* line 2, ../sass/invite-ship.scss */
img {
  display: block;
}

/* line 5, ../sass/invite-ship.scss */
input {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

/* line 11, ../sass/invite-ship.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* line 17, ../sass/invite-ship.scss */
body {
  background-color: #FCE1AC;
  position: relative;
}

/* line 21, ../sass/invite-ship.scss */
.mainContent {
  background-color: #FDEDCC;
}

/* line 26, ../sass/invite-ship.scss */
#top img {
  background: #D4D4D4;
  background-image: url("../images/public/default.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}
/* line 33, ../sass/invite-ship.scss */
#top div {
  background: #D4D4D4 url("../images/inviteShip/ship_04.jpg") no-repeat scroll 0 0;
  background-size: 100% 100%;
  padding-bottom: .8rem;
}
/* line 38, ../sass/invite-ship.scss */
#top div p {
  padding: .4rem .6rem 0 .6rem;
  font-size: .4rem;
  line-height: .65rem;
}
/* line 42, ../sass/invite-ship.scss */
#top div p span {
  display: block;
  margin-top: .2rem;
}
/* line 47, ../sass/invite-ship.scss */
#top div p i {
  color: #C11F1D;
}

/* line 53, ../sass/invite-ship.scss */
#middle {
  margin-top: .5rem;
}
/* line 55, ../sass/invite-ship.scss */
#middle img {
  margin: 0 auto;
}
/* line 59, ../sass/invite-ship.scss */
#middle p {
  margin-top: .2rem;
  text-align: center;
}
/* line 62, ../sass/invite-ship.scss */
#middle p span {
  font-size: .4rem;
  color: #343138;
  display: inline-block;
  border-bottom: 1px solid #343138;
}

/* line 71, ../sass/invite-ship.scss */
#bottom {
  margin-top: .5rem;
}
/* line 73, ../sass/invite-ship.scss */
#bottom #listWrap {
  border-top: 1px solid #FEEECC;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  background: #FCE1AC url("../images/inviteShip/top-circle.jpg") no-repeat scroll 0 0;
  -webkit-background-size: contain;
  background-size: contain;
}
/* line 84, ../sass/invite-ship.scss */
#bottom #listWrap dl {
  display: table;
  width: 90%;
  margin: 0 auto;
}
/* line 88, ../sass/invite-ship.scss */
#bottom #listWrap dl dt {
  display: table-cell;
  width: 60%;
  text-align: center;
  color: #7A451B;
  font-size: .4rem;
}
/* line 94, ../sass/invite-ship.scss */
#bottom #listWrap dl dt:first-child {
  width: 40%;
  font-weight: bold;
}
/* line 99, ../sass/invite-ship.scss */
#bottom #listWrap dl dt i {
  color: #C61B23;
  font-size: .5rem;
}
/* line 104, ../sass/invite-ship.scss */
#bottom #listWrap dl dt .check span {
  border-bottom: 1px solid #7A451B;
}
/* line 111, ../sass/invite-ship.scss */
#bottom #listWrap ul {
  width: 90%;
  margin: .5rem auto;
  margin-bottom: 0;
  border-top: 1px solid #C1A16E;
}
/* line 116, ../sass/invite-ship.scss */
#bottom #listWrap ul li {
  display: table;
  width: 100%;
  border-bottom: 1px dotted #B1833B;
}
/* line 121, ../sass/invite-ship.scss */
#bottom #listWrap ul li span {
  display: table-cell;
  width: 33.3%;
  color: #3F413E;
  text-align: center;
  font-size: .3rem;
  line-height: 1rem;
}
/* line 128, ../sass/invite-ship.scss */
#bottom #listWrap ul li span.warn {
  color: #7A451B;
}
/* line 132, ../sass/invite-ship.scss */
#bottom #listWrap ul li span:nth-child(1) {
  width: 35%;
}
/* line 133, ../sass/invite-ship.scss */
#bottom #listWrap ul li span:nth-child(2) {
  width: 35%;
}
/* line 134, ../sass/invite-ship.scss */
#bottom #listWrap ul li span:nth-child(3) {
  width: 30%;
}

/* line 142, ../sass/invite-ship.scss */
.pop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 150, ../sass/invite-ship.scss */
.pop .main {
  background-color: #fff;
  width: 90%;
  margin-left: 5%;
  border-radius: .2rem;
  padding: .6rem;
  position: relative;
}
/* line 158, ../sass/invite-ship.scss */
.pop .main h2 {
  text-align: center;
  font-size: .5rem;
  margin-bottom: .4rem;
}
/* line 163, ../sass/invite-ship.scss */
.pop .main .exit {
  position: absolute;
  top: .2rem;
  right: .2rem;
  font-size: .8rem;
  font-weight: normal;
  color: #666;
}

/* line 175, ../sass/invite-ship.scss */
#shipNum .main {
  padding: 1rem;
}
/* line 177, ../sass/invite-ship.scss */
#shipNum .main input {
  font-size: .45rem;
  text-indent: .45rem;
  width: 100%;
  height: 1.2rem;
  background-color: #F2F2F2;
  border-radius: 0.2rem;
  border: 1px solid #d3d3d3;
}
/* line 186, ../sass/invite-ship.scss */
#shipNum .main p {
  white-space: nowrap;
  font-size: .36rem;
  line-height: .8rem;
  text-align: justify;
}
/* line 191, ../sass/invite-ship.scss */
#shipNum .main p span {
  color: #D01425;
}
/* line 195, ../sass/invite-ship.scss */
#shipNum .main .confirm {
  margin: 0 auto;
  width: 60%;
  height: 1rem;
  line-height: 1rem;
  background-color: #EA3232;
  border-radius: .15rem;
  color: #fff;
  text-align: center;
  font-size: .5rem;
  position: relative;
  top: .3rem;
}

/* line 214, ../sass/invite-ship.scss */
#rulePop ul li {
  font-size: .4rem;
  line-height: .6rem;
  margin-bottom: .2rem;
  color: #323232;
  text-align: justify;
}
/* line 221, ../sass/invite-ship.scss */
#rulePop ul span {
  font-size: .3rem;
  color: #666;
}
/* line 227, ../sass/invite-ship.scss */
#rulePop p {
  margin-left: -12%;
  font-size: .4rem;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  text-align: center;
  white-space: nowrap;
  margin-top: .6rem;
}

/* line 238, ../sass/invite-ship.scss */
footer {
  color: #7A451B;
  padding: 1rem 0 .5rem 0;
  background-color: #FDEDCC;
}
/* line 243, ../sass/invite-ship.scss */
footer.hasListBgColor {
  padding-top: 0;
  background-color: #FCE1AC;
}
/* line 247, ../sass/invite-ship.scss */
footer p {
  text-align: center;
  white-space: nowrap;
}
@media screen and (max-width: 320px) {
  /* line 247, ../sass/invite-ship.scss */
  footer p {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

/*# sourceMappingURL=invite-ship.css.map */
