/* line 1, ../sass/oneyuan.scss */
body {
  background-color: #FEFEFE;
}

/* line 2, ../sass/oneyuan.scss */
#top img {
  display: block;
  height: 4.5rem;
  cursor: pointer;
}

/* line 9, ../sass/oneyuan.scss */
.landscape li {
  padding: .5rem .3rem;
  border-bottom: 1px solid #E4E4E4;
  color: #323232;
}
/* line 14, ../sass/oneyuan.scss */
.landscape .ls_right {
  position: relative;
}
/* line 17, ../sass/oneyuan.scss */
.landscape .ls_left {
  position: relative;
}
/* line 20, ../sass/oneyuan.scss */
.landscape .ls_prefix {
  position: absolute;
  bottom: 0;
  right: .2rem;
  width: 2rem;
  height: .8rem;
  line-height: .8rem;
  text-align: center;
  background-color: #ff4e00;
  color: #fff;
  font-size: .4rem;
  border-radius: 3px;
}
/* line 33, ../sass/oneyuan.scss */
.landscape .ls_about {
  margin-top: .2rem;
}
/* line 36, ../sass/oneyuan.scss */
.landscape .now_price {
  color: #fe4f00;
  font-size: .3rem;
}
/* line 40, ../sass/oneyuan.scss */
.landscape .old-price {
  display: inline-block;
  color: #818181;
  font-size: .3rem;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  position: relative;
  top: 1px;
  left: -5px;
}
/* line 50, ../sass/oneyuan.scss */
.landscape .price_num {
  font-size: .55rem;
}
/* line 53, ../sass/oneyuan.scss */
.landscape .surplus {
  color: #808080;
}
/* line 55, ../sass/oneyuan.scss */
.landscape .surplus i {
  color: #fe4f00;
}
/* line 57, ../sass/oneyuan.scss */
.landscape .nothing {
  display: none;
}

/* line 63, ../sass/oneyuan.scss */
.ls_sellout .nothing {
  display: block;
  position: absolute;
  top: 0;
  width: 2.7rem;
  height: 2.1rem;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 71, ../sass/oneyuan.scss */
.ls_sellout .nothing i {
  text-align: center;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  position: absolute;
  top: .35rem;
  left: .6rem;
}
/* line 85, ../sass/oneyuan.scss */
.ls_sellout .ls_intro, .ls_sellout .now_price, .ls_sellout .price_num, .ls_sellout .old-price, .ls_sellout .surplus, .ls_sellout .surplus i {
  color: #BCBCBC;
}
/* line 88, ../sass/oneyuan.scss */
.ls_sellout .ls_prefix {
  background-color: #bcbcbc;
}

/* line 94, ../sass/oneyuan.scss */
.rule {
  padding: .5rem 0.3rem;
}
/* line 96, ../sass/oneyuan.scss */
.rule h2 {
  margin: 0 .2rem;
  font-weight: normal;
  font-size: .5rem;
  color: #313131;
  line-height: .6rem;
  text-align: center;
  padding: .3rem 0;
}
/* line 104, ../sass/oneyuan.scss */
.rule h2 i {
  display: inline-block;
  width: 1rem;
  height: .6rem;
  color: transparent;
  background-size: auto 100% !important;
}
/* line 109, ../sass/oneyuan.scss */
.rule h2 i.left {
  background: transparent url("../images/oneyuan/left.png") no-repeat scroll 0 0;
}
/* line 112, ../sass/oneyuan.scss */
.rule h2 i.right {
  background: transparent url("../images/oneyuan/right.png") no-repeat scroll right 0;
}
/* line 118, ../sass/oneyuan.scss */
.rule ul {
  border: 1px solid #ccc;
  border-radius: .2rem;
  padding: .5rem .3rem;
}
/* line 123, ../sass/oneyuan.scss */
.rule li {
  line-height: .5rem;
  font-size: .35rem;
  margin-bottom: .3rem;
  position: relative;
  padding-left: .6rem;
  text-align: justify;
  color: #808080;
}
/* line 132, ../sass/oneyuan.scss */
.rule li i {
  position: absolute;
  top: 0;
  left: 0;
  width: .5rem;
  height: .5rem;
  background-color: #fe4f00;
  color: #F7F7DD;
  border-radius: .5rem;
  text-align: center;
}

/* line 146, ../sass/oneyuan.scss */
footer {
  color: #323232;
  text-align: center;
  font-size: .3rem;
  line-height: 1rem;
  margin-bottom: .5rem;
}
/* line 152, ../sass/oneyuan.scss */
footer i {
  color: #fe4f00;
}

/*# sourceMappingURL=oneyuan.css.map */
