/* line 2, ../sass/paySucceed.scss */
body {
  position: relative;
}

/* line 5, ../sass/paySucceed.scss */
#succeed {
  padding: 10px 0 10px 0;
}
/* line 9, ../sass/paySucceed.scss */
#succeed .payWrap {
  border-top: 1px solid #F9F9F9;
  border-bottom: 1px solid #F9F9F9;
}
/* line 13, ../sass/paySucceed.scss */
#succeed .payState {
  display: table;
  margin: 0 auto;
  padding: 12px 0;
}
/* line 17, ../sass/paySucceed.scss */
#succeed .payState > * {
  display: table-cell;
}
/* line 21, ../sass/paySucceed.scss */
#succeed .payState div {
  vertical-align: middle;
}
/* line 24, ../sass/paySucceed.scss */
#succeed .payState div p {
  color: #808080;
  font-size: 12px;
  text-align: left;
}
/* line 29, ../sass/paySucceed.scss */
#succeed .payState div p:first-child {
  color: #2AB842;
  font-size: 15px;
  font-weight: bold;
}
/* line 37, ../sass/paySucceed.scss */
#succeed .payState i {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: bottom;
}
/* line 45, ../sass/paySucceed.scss */
#succeed .payState.succeed i {
  background: url("../images/paysucceed/succeed.png") no-repeat;
  background-size: contain;
}
/* line 53, ../sass/paySucceed.scss */
#succeed .payState.failed i {
  background: url("../images/paysucceed/failed.png") no-repeat;
  background-size: 36px 36px;
  background-position: 2px;
}
/* line 58, ../sass/paySucceed.scss */
#succeed .payState.failed .stateTxt {
  color: #000;
}
/* line 65, ../sass/paySucceed.scss */
#succeed .delivery {
  margin-top: 10px;
  border-top: 1px solid #F9F9F9;
  border-bottom: 1px solid #F9F9F9;
}
/* line 70, ../sass/paySucceed.scss */
#succeed .delivery p {
  font-size: 12px;
  line-height: 30px;
  color: #808080;
  text-indent: 25px;
  background: url("../images/paysucceed/gps.png") no-repeat 4px;
  background-size: 15px;
  border-bottom: 1px solid #F9F9F9;
}
/* line 79, ../sass/paySucceed.scss */
#succeed .delivery p.money {
  background: url("../images/paysucceed/money.png") no-repeat 4px;
  background-size: 15px;
}
/* line 84, ../sass/paySucceed.scss */
#succeed .delivery p.date {
  background: url("../images/paysucceed/date.png") no-repeat 4px;
  background-size: 15px;
}
/* line 89, ../sass/paySucceed.scss */
#succeed .delivery p.addoil {
  background: url("../images/paysucceed/addoil.png") no-repeat 5px;
  background-size: 15px;
}
/* line 94, ../sass/paySucceed.scss */
#succeed .delivery p.goods {
  background: url("../images/paysucceed/goods.png") no-repeat 5px;
  background-size: 18px;
}
/* line 99, ../sass/paySucceed.scss */
#succeed .delivery p.qrcode {
  border-bottom: 0;
  position: relative;
}
/* line 102, ../sass/paySucceed.scss */
#succeed .delivery p.qrcode span {
  width: 134px;
  text-align: left;
  position: absolute;
  right: 10px;
  top: 0;
  background: url("../images/paysucceed/qrcode.png") no-repeat right 6px;
  background-size: 18px;
}
/* line 113, ../sass/paySucceed.scss */
#succeed .delivery p span {
  color: #000000;
}
/* line 119, ../sass/paySucceed.scss */
#succeed .link {
  display: table;
  table-layout: fixed;
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid #F9F9F9;
}
/* line 126, ../sass/paySucceed.scss */
#succeed .link li {
  display: table-cell;
  width: 50%;
  text-align: center;
}
/* line 131, ../sass/paySucceed.scss */
#succeed .link li span {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  color: #fff;
  border-radius: 2px;
  width: 95%;
}
/* line 139, ../sass/paySucceed.scss */
#succeed .link li span.detail {
  background-color: #ff4e00;
}
/* line 143, ../sass/paySucceed.scss */
#succeed .link li span.index {
  background-color: #ff9b0d;
}

/* line 154, ../sass/paySucceed.scss */
#guess h2.like {
  text-align: center;
  border-top: 1px solid #F9F9F9;
  border-bottom: 1px solid #F9F9F9;
}
/* line 159, ../sass/paySucceed.scss */
#guess h2.like span {
  display: inline-block;
  line-height: 40px;
  text-align: center;
  text-indent: 20px;
  background: url("../images/detail/like.png") no-repeat 0 14px;
  -webkit-background-size: 15px;
  background-size: 15px;
}
/* line 172, ../sass/paySucceed.scss */
#guess ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 5px;
  width: 50%;
  border-bottom: 1px solid #F9F9F9;
}
/* line 182, ../sass/paySucceed.scss */
#guess ul li:nth-child(2n+1) {
  border-right: 1px solid #F9F9F9;
}
/* line 187, ../sass/paySucceed.scss */
#guess ul li img {
  display: block;
  margin-bottom: 5px;
}
/* line 192, ../sass/paySucceed.scss */
#guess ul li p {
  font-size: 12px;
  line-height: 1.4;
}
/* line 196, ../sass/paySucceed.scss */
#guess ul li p.intro {
  height: 34px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
/* line 203, ../sass/paySucceed.scss */
#guess ul li p.price {
  color: #ff4e00;
  position: relative;
}
/* line 207, ../sass/paySucceed.scss */
#guess ul li p.price .rate {
  color: #ff9b0d;
  font-size: 12px;
  position: absolute;
  right: -4px;
  top: 2px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
/* line 221, ../sass/paySucceed.scss */
#guess ul li p .rmb {
  font-size: 12px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* line 234, ../sass/paySucceed.scss */
.pop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 242, ../sass/paySucceed.scss */
.pop {
  padding-top: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 246, ../sass/paySucceed.scss */
.pop .content {
  width: 8rem;
  margin: 0 auto;
}
/* line 247, ../sass/paySucceed.scss */
.pop .content img {
  display: block;
}
/* line 251, ../sass/paySucceed.scss */
.pop .txt {
  text-align: center;
  position: relative;
  top: -4rem;
}
/* line 255, ../sass/paySucceed.scss */
.pop .txt h3 {
  color: #FFE07A;
}
/* line 258, ../sass/paySucceed.scss */
.pop .txt p {
  color: #760000;
  margin: .3rem 0 .3rem 0;
}
/* line 262, ../sass/paySucceed.scss */
.pop .txt button {
  display: inline-block;
  width: 4rem;
  height: 1rem;
  background-color: #FCEF65;
  color: #FF2F52;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Microsoft YaHei';
}
/* line 275, ../sass/paySucceed.scss */
.pop .close {
  display: block;
  position: absolute;
  top: 3.1rem;
  right: 1.4rem;
  width: 1rem;
  height: 1rem;
  background: url("../images/paysucceed/hb_02.png") no-repeat scroll 0 0;
  background-size: contain;
}
