/* line 1, ../sass/wx-couponDetail.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/wx-couponDetail.scss */
.container {
  padding: .4rem;
}

/* line 8, ../sass/wx-couponDetail.scss */
.explain {
  background-color: #1FC9C0;
  color: #fff;
  line-height: .7rem;
  text-align: center;
  margin-bottom: .3rem;
  font-size: .3rem;
}
/* line 15, ../sass/wx-couponDetail.scss */
.explain:before {
  content: '.';
  color: transparent;
  width: .7rem;
  height: .7rem;
  display: inline-block;
  background: url("../images/wx-coupon/i.png") no-repeat scroll 50% 50%;
  background-size: 60%;
}

/* line 26, ../sass/wx-couponDetail.scss */
#nav {
  background-color: #F9F9F9;
  border: 1px solid #FF4E00;
  border-radius: 5px;
  border-right: 0;
  overflow: hidden;
  margin-bottom: .8rem;
}
/* line 34, ../sass/wx-couponDetail.scss */
#nav li {
  float: left;
  width: 33.3%;
  text-align: center;
  line-height: 1rem;
  font-size: .4rem;
  border-right: 1px solid #FF4E00;
  color: #FF4E00;
}
/* line 43, ../sass/wx-couponDetail.scss */
#nav li.active {
  background-color: #FF4E00;
  color: #fff;
}

/* line 50, ../sass/wx-couponDetail.scss */
.usable > li, .overdue > li, .used > li {
  margin-top: .6rem;
  background: transparent url("../images/wx-coupon/detail-bg.png") no-repeat scroll 0 0;
  background-size: 100% 100%;
}
/* line 55, ../sass/wx-couponDetail.scss */
.usable > li .inner, .overdue > li .inner, .used > li .inner {
  padding: .4rem;
  height: 3rem;
}
/* line 59, ../sass/wx-couponDetail.scss */
.usable > li .inner > div, .overdue > li .inner > div, .used > li .inner > div {
  float: left;
}
/* line 62, ../sass/wx-couponDetail.scss */
.usable > li .price, .overdue > li .price, .used > li .price {
  width: 25%;
  color: #F45655;
  font-size: .7rem;
  font-size: .7rem;
  line-height: 2.2rem;
  text-align: center;
  font-weight: bold;
  position: relative;
}
/* line 71, ../sass/wx-couponDetail.scss */
.usable > li .price i, .overdue > li .price i, .used > li .price i {
  font-size: .5rem;
  font-weight: normal;
}
/* line 76, ../sass/wx-couponDetail.scss */
.usable > li .price p, .overdue > li .price p, .used > li .price p {
  font-size: 10px;
  position: absolute;
  line-height: 12px;
  bottom: .4rem;
  width: 100%;
  color: #666;
  font-weight: normal;
}
/* line 86, ../sass/wx-couponDetail.scss */
.usable > li .detail, .overdue > li .detail, .used > li .detail {
  width: 75%;
  padding-left: .8rem;
}
/* line 90, ../sass/wx-couponDetail.scss */
.usable > li .detail h3, .overdue > li .detail h3, .used > li .detail h3 {
  color: #323232;
  font-size: .4rem;
  margin-bottom: .1rem;
}
/* line 96, ../sass/wx-couponDetail.scss */
.usable > li .detail ul, .overdue > li .detail ul, .used > li .detail ul {
  list-style: disc;
  list-style-position: inside;
  color: #666666;
}
/* line 101, ../sass/wx-couponDetail.scss */
.usable > li .detail ul li, .overdue > li .detail ul li, .used > li .detail ul li {
  font-size: .3rem;
  line-height: .4rem;
}
/* line 107, ../sass/wx-couponDetail.scss */
.usable > li .detail p, .overdue > li .detail p, .used > li .detail p {
  color: #F45655;
  font-size: .3rem;
  line-height: .6rem;
}

/* line 115, ../sass/wx-couponDetail.scss */
.overdue > li {
  background-image: url("../images/wx-coupon/detail-bg-gray.png");
}
/* line 117, ../sass/wx-couponDetail.scss */
.overdue > li .inner {
  background: transparent url("../images/wx-coupon/overdue.png") no-repeat scroll 7.2rem 0.4rem;
  background-size: 20%;
}

/* line 122, ../sass/wx-couponDetail.scss */
.used > li {
  background-image: url("../images/wx-coupon/detail-bg-gray.png");
}
/* line 124, ../sass/wx-couponDetail.scss */
.used > li .inner {
  background: transparent url("../images/wx-coupon/used.png") no-repeat scroll 7.2rem 0.4rem;
  background-size: 20%;
}

/* line 130, ../sass/wx-couponDetail.scss */
.overdue *, .used * {
  color: #808080 !important;
}

/* line 134, ../sass/wx-couponDetail.scss */
.feiOil {
  background: #f44e4e url("../images/wx-coupon/feioil.jpg") no-repeat scroll 0 -0.3rem;
  background-size: 100%;
}
/* line 137, ../sass/wx-couponDetail.scss */
.feiOil .explain {
  background-color: #f14b01 !important;
}
/* line 140, ../sass/wx-couponDetail.scss */
.feiOil #nav {
  -webkit-box-shadow: 1px 1px 1px 1px #cccccc;
  -moz-box-shadow: 1px 1px 1px 1px #cccccc;
  box-shadow: 1px 1px 1px 1px #cccccc;
  margin-bottom: 4.2rem;
}
/* line 146, ../sass/wx-couponDetail.scss */
.feiOil #nav li {
  color: #fff;
  background-color: #e01a19 !important;
}
/* line 149, ../sass/wx-couponDetail.scss */
.feiOil #nav li.active {
  background-color: #f44e4e !important;
}
/* line 153, ../sass/wx-couponDetail.scss */
.feiOil .empty p {
  color: #fff !important;
}

/*# sourceMappingURL=wx-couponDetail.css.map */
