/* line 1, ../sass/wx-login.scss */
body {
  font: 12px/1.2 "Microsoft YaHei";
}

/* line 2, ../sass/wx-login.scss */
* {
  box-sizing: border-box;
}

/* line 3, ../sass/wx-login.scss */
input, button {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}

/* line 10, ../sass/wx-login.scss */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* line 13, ../sass/wx-login.scss */
input::-webkit-input-placeholder {
  color: #808080;
}

/* line 17, ../sass/wx-login.scss */
.nav {
  border-bottom: 1px solid #F0EDE6;
}
/* line 19, ../sass/wx-login.scss */
.nav li {
  padding: .5rem 0;
  display: inline-block;
  width: 50%;
  text-align: center;
  color: #BCBCBC;
  font-size: .5rem;
}
/* line 28, ../sass/wx-login.scss */
.nav .accountLogin {
  padding-left: 1.5rem;
}
/* line 32, ../sass/wx-login.scss */
.nav .msgLogin {
  padding-right: 1.5rem;
}
/* line 36, ../sass/wx-login.scss */
.nav .active {
  color: #FF4E00;
}
/* line 38, ../sass/wx-login.scss */
.nav .active span {
  border-bottom: 2px solid #FF4E00;
}

/* line 45, ../sass/wx-login.scss */
.item {
  padding: .2rem 0;
  line-height: 1rem;
  border-bottom: 1px solid #F0EDE6;
  background: transparent url("../images/wx-login/user.png") no-repeat scroll 0.3rem 50%;
  background-size: auto 40%;
}
/* line 52, ../sass/wx-login.scss */
.item input {
  height: 1rem;
  line-height: 1rem;
  display: block;
  margin-left: 15%;
  width: 85%;
  font-size: .45rem;
}

/* line 62, ../sass/wx-login.scss */
.code {
  position: relative;
  background-image: url("../images/wx-login/code.png");
}
/* line 66, ../sass/wx-login.scss */
.code div {
  position: absolute;
  top: 20%;
  right: 0.4rem;
  text-align: center;
  border-left: 2px solid #ccc;
  padding-left: .2rem;
}
/* line 74, ../sass/wx-login.scss */
.code div p {
  font-size: .3rem;
  line-height: .45rem;
  margin: 0;
  padding: 0;
}

/* line 83, ../sass/wx-login.scss */
.psw {
  background-image: url("../images/wx-login/psw.png");
}

/* line 87, ../sass/wx-login.scss */
.phone.focus {
  background-image: url("../images/wx-login/user-focus.png") !important;
}

/* line 90, ../sass/wx-login.scss */
.psw.focus {
  background-image: url("../images/wx-login/psw-focus.png") !important;
}

/* line 93, ../sass/wx-login.scss */
.code.focus {
  background-image: url("../images/wx-login/code-focus.png") !important;
}

/* line 97, ../sass/wx-login.scss */
.register {
  border-top: 1px solid #F0EDE6;
  margin-top: .5rem;
  background-image: url("../images/wx-login/register.png");
}

/* line 103, ../sass/wx-login.scss */
.confirm {
  background-color: #BCBCBC;
  border-radius: .15rem !important;
  font-size: .45rem;
  color: #fff;
  display: block;
  padding: .25rem 0;
  width: 94%;
  margin: 0 auto;
  margin-top: .5rem;
}

/* line 117, ../sass/wx-login.scss */
p {
  text-align: center;
  color: #606060;
  padding: .2rem 0;
  font-size: .4rem;
}
/* line 122, ../sass/wx-login.scss */
p i {
  color: #1EC8BF;
}

/* line 127, ../sass/wx-login.scss */
.code {
  display: none;
}

/* line 131, ../sass/wx-login.scss */
.msg .code {
  display: block !important;
}

/* line 135, ../sass/wx-login.scss */
#entryCode .confirm {
  background-color: #FF4E00;
}
/* line 138, ../sass/wx-login.scss */
#entryCode p {
  font-size: 12px;
}
/* line 140, ../sass/wx-login.scss */
#entryCode p i {
  color: #FF4E00;
  font-size: .5rem;
}

/* line 147, ../sass/wx-login.scss */
.right {
  background-color: #FF4E00 !important;
}

/*# sourceMappingURL=wx-login.css.map */
