/* line 1, ../sass/wx-myOrder.scss */
* {
  box-sizing: border-box;
}

/* line 2, ../sass/wx-myOrder.scss */
body {
  background-color: #FEFEFE;
}

/* line 3, ../sass/wx-myOrder.scss */
[v-cloak] {
  display: none;
}

/* line 5, ../sass/wx-myOrder.scss */
#top img {
  display: block;
}

/* line 7, ../sass/wx-myOrder.scss */
section {
  margin-bottom: .4rem;
}

/* line 12, ../sass/wx-myOrder.scss */
#nav ul {
  border-bottom: 1px solid #F0EDE6;
}
/* line 15, ../sass/wx-myOrder.scss */
#nav li {
  display: inline-block;
  width: 20%;
  text-align: center;
  color: #323232;
  line-height: 1rem;
  font-size: .4rem;
}
/* line 24, ../sass/wx-myOrder.scss */
#nav span {
  display: inline-block;
}
/* line 27, ../sass/wx-myOrder.scss */
#nav span.active {
  color: #fe4f00;
  border-bottom: 2px solid #fe4f00;
}

/* line 34, ../sass/wx-myOrder.scss */
#all {
  border-top: 1px solid #F0EDE6;
}

/* line 38, ../sass/wx-myOrder.scss */
.landscape {
  padding-left: .3rem;
  padding-right: .3rem;
}
/* line 41, ../sass/wx-myOrder.scss */
.landscape li {
  padding: .3rem 0;
  border-bottom: 1px solid #F0EDE6;
  color: #323232;
}
/* line 46, ../sass/wx-myOrder.scss */
.landscape .ls_right {
  position: relative;
}
/* line 49, ../sass/wx-myOrder.scss */
.landscape .ls_left {
  position: relative;
}
/* line 52, ../sass/wx-myOrder.scss */
.landscape .ls_intro {
  font-size: 15px;
  line-height: 18px;
  height: 36px;
}
/* line 56, ../sass/wx-myOrder.scss */
.landscape .ls_intro i {
  background-color: #20C7BE;
  color: #fff;
  padding: 0 2px;
  margin-right: 4px;
}
/* line 63, ../sass/wx-myOrder.scss */
.landscape .ls_prefix {
  position: absolute;
  bottom: 0;
  right: .2rem;
  text-align: center;
  color: #323232;
  font-size: .4rem;
}
/* line 75, ../sass/wx-myOrder.scss */
.landscape .ls_about {
  margin-top: .2rem;
}
/* line 78, ../sass/wx-myOrder.scss */
.landscape .now_price {
  color: #fe4f00;
  font-size: .4rem;
}
/* line 81, ../sass/wx-myOrder.scss */
.landscape .now_price .price_num {
  font-size: .55rem !important;
}
/* line 85, ../sass/wx-myOrder.scss */
.landscape .old-price {
  display: block;
  color: #BDBDBD;
  font-size: 12px;
}
/* line 90, ../sass/wx-myOrder.scss */
.landscape .price_num {
  font-size: 12px;
}
/* line 93, ../sass/wx-myOrder.scss */
.landscape .surplus {
  color: #808080;
}
/* line 95, ../sass/wx-myOrder.scss */
.landscape .surplus i {
  color: #fe4f00;
}
/* line 97, ../sass/wx-myOrder.scss */
.landscape .nothing {
  display: none;
}

/* line 102, ../sass/wx-myOrder.scss */
.title {
  display: table;
  width: 100%;
  padding: .4rem .3rem;
  font-size: .45rem;
  border-bottom: 1px solid #F0EDE6;
}
/* line 109, ../sass/wx-myOrder.scss */
.title > * {
  display: table-cell;
  width: 50%;
}
/* line 114, ../sass/wx-myOrder.scss */
.title span {
  text-indent: 1rem;
  text-align: left;
  color: #323232;
}
/* line 119, ../sass/wx-myOrder.scss */
.title i {
  font-size: .4rem;
  text-align: right;
  color: #FF4E00;
}

/* line 125, ../sass/wx-myOrder.scss */
.total {
  padding: 0 .3rem;
}
/* line 127, ../sass/wx-myOrder.scss */
.total table {
  width: 100%;
  color: #323232;
  padding: 0 .2rem;
  font-size: 15px;
  line-height: 22px;
}
/* line 134, ../sass/wx-myOrder.scss */
.total .sale {
  color: #808080;
}
/* line 137, ../sass/wx-myOrder.scss */
.total .actual {
  text-align: right;
}
/* line 139, ../sass/wx-myOrder.scss */
.total .actual i {
  color: #FF4E00;
}

/* line 181, ../sass/wx-myOrder.scss */
.title {
  background: transparent url("../images/wx-myOrder/ico_title.png") no-repeat scroll 0.5rem 50%;
  background-size: auto 50%;
  margin-bottom: .3rem;
}

/* line 189, ../sass/wx-myOrder.scss */
.detail {
  background-color: #F5F5F5;
}
/* line 191, ../sass/wx-myOrder.scss */
.detail section {
  background-color: #fff;
}
/* line 193, ../sass/wx-myOrder.scss */
.detail section#state {
  margin-bottom: 0;
  padding-bottom: .4rem;
}
/* line 197, ../sass/wx-myOrder.scss */
.detail section:last-child {
  margin-bottom: 0;
}

/* line 203, ../sass/wx-myOrder.scss */
.progress {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  text-align: center;
  margin-top: .5rem;
  color: #7F7F7F;
}
/* line 213, ../sass/wx-myOrder.scss */
.progress .step {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 220, ../sass/wx-myOrder.scss */
.progress .step p {
  height: 18px;
}

/* line 226, ../sass/wx-myOrder.scss */
.circle {
  margin: 8px auto;
}
/* line 228, ../sass/wx-myOrder.scss */
.circle div {
  border: 1px solid #A7A7A7;
  background-color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 1rem;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
/* line 237, ../sass/wx-myOrder.scss */
.circle div i {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px auto;
  border-radius: 8px;
  background-color: #A7A7A7;
}
/* line 247, ../sass/wx-myOrder.scss */
.circle .line {
  display: block;
  position: relative;
  top: -9px;
  height: 1px;
  background-color: #DADADA;
}

/* line 257, ../sass/wx-myOrder.scss */
.step:nth-of-type(1) .line {
  width: 50%;
  left: 50%;
}

/* line 263, ../sass/wx-myOrder.scss */
.step:last-child .line {
  width: 50%;
}

/* line 269, ../sass/wx-myOrder.scss */
.active .circle div {
  border: 1px solid #fe4f00;
}
/* line 271, ../sass/wx-myOrder.scss */
.active .circle div i {
  background-color: #fe4f00;
}

/* line 278, ../sass/wx-myOrder.scss */
.remark {
  color: #313131;
  padding: .3rem;
}

/* line 283, ../sass/wx-myOrder.scss */
#goodsList {
  border-top: 1px solid #F0EDE6;
  padding-bottom: .3rem;
}

/* line 290, ../sass/wx-myOrder.scss */
.table .tableWrap {
  padding-bottom: .2rem;
}
/* line 293, ../sass/wx-myOrder.scss */
.table .headline {
  border-bottom: 1px solid #F0EDE6;
  line-height: 1rem;
  font-size: .45rem;
  text-indent: .3rem;
}
/* line 300, ../sass/wx-myOrder.scss */
.table table {
  width: 100%;
  color: #666666;
  font-size: .4rem;
}
/* line 304, ../sass/wx-myOrder.scss */
.table table tr {
  height: .8rem;
}
/* line 307, ../sass/wx-myOrder.scss */
.table table th {
  width: 20%;
  text-indent: .3rem;
}
/* line 311, ../sass/wx-myOrder.scss */
.table table td {
  width: 50%;
  text-align: right;
  padding-right: .3rem;
}

/* line 318, ../sass/wx-myOrder.scss */
.tips {
  background-color: #f5f5f5;
  font-size: 12px;
  line-height: 30px;
  position: relative;
  text-indent: 40px;
  color: #fb3838;
}
/* line 326, ../sass/wx-myOrder.scss */
.tips:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 10px;
  width: 24px;
  height: 30px;
  background: url("../images/wx-myOrder/tips.png") no-repeat scroll 50% 50%;
  background-size: 100%;
}

/* line 339, ../sass/wx-myOrder.scss */
.orderList {
  background-color: #F5F5F5;
}
/* line 341, ../sass/wx-myOrder.scss */
.orderList #nav {
  background-color: #fff;
}
/* line 344, ../sass/wx-myOrder.scss */
.orderList .item {
  background-color: #fff;
  margin-bottom: .4rem;
}
/* line 349, ../sass/wx-myOrder.scss */
.orderList .empty div {
  line-height: 1rem;
  font-size: .5rem;
  text-align: center;
  margin-top: 3rem;
}
/* line 355, ../sass/wx-myOrder.scss */
.orderList .empty div:before {
  content: '.';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  color: transparent;
  background: url("../images/wx-myOrder/empty.png") no-repeat scroll 50% 50%;
  background-size: auto 80%;
}
/* line 368, ../sass/wx-myOrder.scss */
.orderList .landscape li {
  border: 0;
}
/* line 371, ../sass/wx-myOrder.scss */
.orderList .landscape .ls_left {
  border: 1px solid #F0EDE6;
}
/* line 374, ../sass/wx-myOrder.scss */
.orderList .landscape .ls_right {
  height: 2.4rem;
}
/* line 377, ../sass/wx-myOrder.scss */
.orderList .landscape .ls_intro {
  min-height: 18px;
  max-height: 36px;
}
/* line 381, ../sass/wx-myOrder.scss */
.orderList .landscape .ls_about {
  position: absolute;
  bottom: 0;
  left: 3.5rem;
}
/* line 386, ../sass/wx-myOrder.scss */
.orderList .landscape .ls_pic {
  width: 3.2rem;
  height: 2.4rem;
}
/* line 390, ../sass/wx-myOrder.scss */
.orderList .landscape .price_num {
  font-size: .4rem;
}

/*# sourceMappingURL=wx-myOrder.css.map */
